# CARGA Y ANÁLISIS DEL DATASET--------------------------

In [1]:
'''En este apartado se importan las librerías pandas, numpy y datetime
para el análisis y manejo de los datos.'''
import pandas as pd
import numpy as np
import datetime as dt
'''Importación de las librerías matplotlib y seaborn para graficar.'''
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
'''Cargar el dataset "data_act_01.csv"'''
df = pd.read_csv("data_act_01.csv", sep =';')
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

In [3]:
'''Verificar las dimensiones del dataset'''
print("Dimensiones: " , df.shape)

Dimensiones:  (10051, 12)

In [4]:
'''Obtener información del dataset'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

# LIMPIEZA DE DATOS--------------------------

## Identificación de columnas con datos faltantes

In [6]:
'''Identificar valores faltantes'''
nulos = df.isna().sum()
nulos

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [7]:
'''Eliminar valores nulos'''
deleteN = df.drop(['Range'], axis=1)
'''Ver registros con datos nulos'''
deleteN[deleteN.isna().any(1)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
86,160920001,Traffic Stop,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,ADM,16th/deharo,NaN,CA,1,Geo-Override
88,160920004,Passing Call,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,HAN,Duboce Triangle,NaN,CA,1,Geo-Override
100,160920020,Passing Call,2016-04-01T00:00:00,0:05,2016-04-01T00:05:00,HAN,9th Ave/irving St,NaN,CA,1,Geo-Override
112,160920032,Passing Call,2016-04-01T00:00:00,0:13,2016-04-01T00:13:00,HAN,3rd Ave & Geary Blvd,NaN,CA,1,Geo-Override
117,160920043,Passing Call,2016-04-01T00:00:00,0:18,2016-04-01T00:18:00,Not recorded,Geary/3rd Ave,NaN,CA,1,Geo-Override
...,...,...,...,...,...,...,...,...,...,...,...
9867,160963421,Passing Call,2016-04-05T00:00:00,19:07,2016-04-05T19:07:00,Not recorded,Crocker Amazon Park,NaN,CA,1,Geo-Override
9923,160963626,Passing Call,2016-04-05T00:00:00,20:11,2016-04-05T20:11:00,Not recorded,Haight Street Corridor,NaN,CA,1,Geo-Override
10029,160964141,Passing Call,2016-04-05T00:00:00,23:09,2016-04-05T23:09:00,HAN,101 Broad,NaN,CA,1,Geo-Override
10032,160964151,Passing Call,2016-04-05T00:00:00,23:14,2016-04-05T23:14:00,HAN,Division/harrison,NaN,CA,1,Geo-Override
10033,160964157,Passing Call,2016-04-05T00:00:00,23:16,2016-04-05T23:16:00,HAN,Campton Alley,NaN,CA,1,Geo-Override

## Identificación de columnas con pocos valores

In [8]:
'''En la columna City, reemplazar los valores nulos por Brisbane'''
values = {'City': 'Brisbane'}
deleteN.fillna(value=values, inplace=True)
'''Ver registros con datos nulos'''
deleteN[deleteN.isna().any(1)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
5771,160942112,Auto Boost / Strip,2016-04-03T00:00:00,14:30,2016-04-03T14:30:00,REP,Martin Luther King Dr/bowling Green Dr,Brisbane,NaN,CA,1
8021,160952280,Auto Boost / Strip,2016-04-04T00:00:00,14:46,2016-04-04T14:46:00,REP,Martin Luther King Dr/nancy Pelosi Dr,S,NaN,CA,1
8473,160953118,Auto Boost / Strip,2016-04-04T00:00:00,18:11,2016-04-04T18:11:00,REP,Conservatory Drive E/john F Kennedy Dr,Brisbane,NaN,CA,1

In [9]:
'''En la columna State, reemplazar los valores nulos por Ninguno'''
values = {'State': 'Ninguno'}
deleteN.fillna(value=values, inplace=True)
'''Ver registros con datos nulos'''
deleteN[deleteN.isna().any(1)]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

## Identificación de columnas de un solo valor

In [10]:
'''Ver los valores únicos de City'''
deleteN['City'].unique()

array(['San Francisco', 'Brisbane', 'Daly City', 'Treasure Isla',
       'Yerba Buena', 'SAN FRANCISCO', 'Presidio', ' S'], dtype=object)

In [11]:
'''Cambios en la sintaxis de la ciudad de San Francisco'''
deleteN['City']= deleteN['City'].replace('SAN FRANCISCO', 'San Francisco')
deleteN['City']= deleteN['City'].replace(' S', 'San Francisco')
'''Ver los valores únicos de City'''
deleteN['City'].unique()

array(['San Francisco', 'Brisbane', 'Daly City', 'Treasure Isla',
       'Yerba Buena', 'Presidio'], dtype=object)

In [12]:
'''Ver los valores únicos de Disposition'''
deleteN['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', '22',
       'CRT', 'SFD'], dtype=object)

In [13]:
'''Cambios en la sintaxis de la disposición'''
deleteN['Disposition']=deleteN['Disposition'].replace('22', 'RGA')
deleteN['Disposition']=deleteN['Disposition'].replace('Not recorded', 'NR')
'''Ver los valores únicos de Disposition'''
deleteN['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'NR', 'CIT', 'PAS',
       'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', 'RGA', 'CRT', 'SFD'],
      dtype=object)

In [14]:
'''Ver los valores únicos de AddressType'''
deleteN['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', 'Intersectioon', '1'], dtype=object)

In [15]:
'''Cambios en la sintaxis del tipo de dirección'''
deleteN['AddressType']=deleteN['AddressType'].replace('Intersectioon', 'Intersection')
'''Ver los valores únicos de AddressType'''
deleteN['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', '1'], dtype=object)

In [16]:
'''Ver los valores únicos de State'''
deleteN['State'].unique()

array(['CA', 'Ninguno'], dtype=object)

In [17]:
'''Ver los valores únicos de OriginalCrimeTypeName'''
deleteN['OriginalCrimeTypeName'].unique()

array(['Assault / Battery', 'Homeless Complaint', 'Susp Info', 'Report',
       '594', "Ref'd", 'Agg Assault / Adw Dv', 'Encampment', 'Burglary',
       'Suspicious Person', 'Ip', 'Arrest Made', 'Tent',
       'Intoxicated Person', 'Guitar', 'H&r Veh Accident', 'Music',
       'Person Dumping', 'Vandalism', 'Petty Theft', '415',
       'Noise Nuisance', 'Fraud', 'Rep', 'Meet W/citizen',
       'Prisoner Transport', 'Poss', 'Trespasser', 'Stolen Vehicle',
       'Fight No Weapon', 'Check For Ped', 'Juvenile Disturbance',
       'Party', 'Lltd', 'Robbery', '601', '500e', '913', 'Traffic Stop',
       '909', 'Person W/gun', 'Suspicious Vehicle', 'Fight No Weapon Dv',
       'Audible Alarm', 'Parking', 'Pay', 'Silent Holdup Alarm',
       'Passing Call', 'Sleeper', 'Family', 'Thumping', 'Loud Music',
       '916', 'Att', 'Threats / Harassment', 'Boombox',
       'Traf Violation Tow', 'Dw', 'Bar Check', 'Suicide Attempt', 'Susp',
       'Crosswalk', 'Casing/917', 'Wireless-Drop', 'Uc Hastings/405',
       'Bomb Threat', 'Mentally Disturbed', 'Silent Alarm',
       'Traf Violation Cite', 'Person Breaking In', 'Complaint Unkn',
       '811', 'Casing', 'Prowler', 'Shots Fired', 'Shooting', '915',
       'Citizen Arrest', '919', '417', 'Person Screaming',
       'Well Being Check', '917', '917/811', 'Jo/bolo',
       'Wanted Vehicle / Sub', 'Ug', 'Poss Ip', 'Hold-Up', '531', 'Fare',
       'Construction', 'Drugs', 'Campers', 'Poss/601',
       'Assault / Battery Dv', 'X', 'Return', 'Rtl', 'Verbal', '518',
       'Meet W/officer', '488', 'Awol', 'Strongarm Robbery', 'Aggressive',
       'Male', "Veh's", 'Rz', 'Sw', 'Encampent', 'Loitering',
       'Muni Inspection', 'Auto Boost / Strip', 'Jo', 'Dw/rz', '22500e',
       'Sleepers', 'Fire', 'Mal', 'Trc 7.2.46', 'Reckless', 'Camper',
       '22500f', 'City Veh', 'Openline', 'Indecent Exposure',
       'Injury Veh Accident', 'Rept', 'Cw', '851', 'Prem Check',
       'Person W/knife', 'Ringing Doorbell', 'Veh Accident',
       'Sleeper 601', 'I/p', 'Video', 'Unoccupied', 'R/o Violation',
       'Psych Eval / Hold', 'Missing Adult', 'Vehicle Alarm',
       'Person Down', '418', 'Found Drugs', 'Citizen Standby', 'Yelling',
       '7.2.41', 'Lltn', '7.2.45', 'Nabor', 'X 594', 'Glass Bottles',
       'Missing Juvenile', 'Sexual Assault Juve', '852', 'Escalating',
       'Demo / Protest', 'Death / Coroner', 'Jjo', 'Vc21113a',
       'Aggressive 601', 'Sexual Assault Adult', '601 Ug',
       'Recover Missing Veh', 'Npat', 'Aggr Soliciting', '7.2.46',
       'Dog Barking', '800', 'Grand Theft', 'Rz/dw',
       'H&r Injury Accident', 'Pepperspray', '22500e/22500b', 'Vendors',
       'Agg Assault / Adw', 'Crack', '905/muni', 'Opp', '311',
       'Stolen Property', 'Poss Caser', '22500h', '22514',
       'Senile Person', '311 X', 'Selling Foods', 'Muni', 'Elevator',
       'Veh', 'Ll/td', '221', 'Static', 'Road Rage', 'W/a Hammer',
       '221 Poss', 'At Risk', 'Drop', 'Juve Beyond Control', '22500e/.25',
       'Squattters', 'Illegal Vendor', '7.2.25', 'Parking Space',
       'Susp Poss', '22500a', '913/child', 'Dancer', '500f', '500h',
       '7.2.28', 'Drinking', '240/spit', 'Poss 5150', 'Ped',
       'Pepper Spray', '222', '487', '368ca Poss', '470', '22500i',
       'Panic Alarm', 'Drugs Needles', '911 Hu', 'Purse Snatch',
       '212 Poss', '7.2.26', 'Custody', '7.2.27', '22500eal',
       'Resisting Arrest', 'Mc', 'Dirtbikes', 'Gamblers', 'Drugs/dealing',
       'Drunk Driver', 'Ret', 'Spitter', 'Prostitute/solicite',
       'Aided Case', '22500f/cw', 'Suspect', '518/muni', '22500b',
       'Barking', '7.2.32', 'Bat', 'Dirtbikes/586', '213', 'Encampments',
       '7.2.38', '7.2.40', 'Ll/ll', 'Adv', 'Chp', '911-Drop', 'Hammer',
       'Open Line', 'Physical', 'Dog', '915 Sleeper', '910',
       'Pay Dispute', '245', 'Keys', 'Nabors', '650', 'Opportunist',
       'Live Band', 'Recorder', 'Female', 'Poss 152', 'Poss Casing',
       '915 Encampment', 'Tx To Chp', 'Party Yelling', '852 Poss',
       "Juv's", '586/poss 588', '5150', 'At The Atm', 'Male/poss Hazard',
       'Heated', 'Adv To 0123', 'Busn', 'Dw Tow', 'Band', 'Kidnapping',
       'Poss Attempt', 'Driveway', 'Threats Dv', '415 Music',
       'Att/240 Jo', '5150 Poss', 'Stick', 'Spike', '647b Poss', 'Alarm',
       'Sideshow', '22502a', 'Taxi Zone', 'Graffiti Vandalism', '601 Rtl',
       'Living', 'Roof', 'Dp', '22500l', '801 Poss', 'J/o', 'Gz', 'Caser',
       'Wz', '519', 'Poss Escalating', 'Sign', 'Ambulance', 'Drops//busn',
       'Suspects', '811 Male', 'Camp', 'Attemp', 'Drinkers', 'Uwg', 'Lp',
       'H&r', 'Poss 207', 'Tree Bark', 'Poss 800', 'Vendor', 'Casing/852',
       'Ro Viol', '519 Poss', '9915', 'Pups', '518hr', 'Reckless Mcs',
       '586', '800attempt', 'Follow Up', 'Chop Shop', 'Paydispute',
       'Illegal Gambling', 'Rep Identity Theft', '225800e',
       '852 Occupied', '594 Poss', 'Busn/voip', 'Roadrage', '252500e',
       '420 Drugs', '912', 'Sudrugs', 'Fi**expedite**', 'Rtl/aggressive',
       'Ro Violation', 'Tow Truck', '800 Poss', '*909*', '22500',
       '152 Jo', '7.2.25/2250e', 'Agressive', 'Pay Dis', 'Rtl Cab',
       'Drummer', '22500f/7.2.70', 'Person W/knife Dv', 'Hu', '800  Poss',
       '152 Poss', 'Elderly X', 'Hold Up', 'Chp 1030 Veh', 'Sagressive',
       'Bart', '240 Poss', 'Illegal Vendors', 'Loud Party', 'Stabbing',
       'Roomate', 'Fireworks', 'Property', 'Iph', 'Bottles', 'Cane',
       'Get Inside The Bldg', 'Music/909', 'Panic', '601rtl',
       'Vandalism Dv', 'Neighbors', 'Open', 'Poss/910prem Check',
       'Stattic', '594 Ip', '601uwg', '911', 'Poss 519', 'Making A Mess',
       'Campers W/bikes', 'Pos Jumper', 'Doorway/917', 'Camping',
       '**Tazer**', 'Loading Dock', 'Bl', 'Naked', 'Attempt',
       'Explosive Found', 'Car Campers', '915 Campers',
       'Poss Unreported 1030', 'Subj', 'Fp', 'Gambling', 'Wild',
       '5150 Hold Poss', '419', '7.2.41/22500f', 'Shooting Up',
       'St Vendors', '22500e/rz', 'Person Break In Dv', 'Veh W/open Door',
       '22507.8a', 'Poss 801', '901 For 909', 'Unocc', 'Samurai',
       '911 Open', 'Poss/851 Attemp Poss', 'Drugdealer', "Mc's", 'S',
       'Rp', '459', 'Atc', '915s', 'Rtl/811', '420', 'Amplified',
       'Tra7.2.37', 'Casers', 'Jump', 'Dismember Body Part', 'Poss/420',
       '500b', '7.2.25/22500e', 'Busy', '528 Poss', 'Poss Walk Thru',
       'Mace', 'Child', 'Loud Bass', 'Spit', 'Prem', 'Roof Squatters',
       '.25/500e', '910 X', 'Drug Use', 'In Svc/ On Foot', 'Explosion',
       'Scratch', '916/music', 'Return Call', 'Verbals', '100v',
       'Loud Talking', '601/415', 'Hot', 'Cassing', 'Poss 488', 'A',
       '152', '601/311', 'Trc 7.2.45', 'Cz', 'Silent', 'Poss Hazard',
       '502a', '801 Threats', 'Home Invasion', '911 Drop', 'Tz', 'Npa',
       'Toilet', 'Dropped Call', '459 Attempt', 'Ucpd', 'Jumper',
       'Dog Bite', '909x', 'Attempt Report', 'Tro', 'Stepping On Plants',
       'Muni Alarm', 'Ld', '240/602 Suspect', 'Poss Susp', '311x/poss800',
       'Dogs Barking', 'Panhandler W/pitbull', 'Video Surveillence',
       'H/r', '221/222 Poss', 'Areport', 'Protestors', '470 Poss',
       'Broken Window', '`Drugs', 'Haz', 'House', '418rm', '240', '21211',
       'Att Jo', "Loud Subj's", '811 Poss', '601/488', '7.2.70', 'Resd',
       'Maced', '801', 'Suatters', '22514/500b', '212', '911 Open Line',
       'Recycling', 'Park Ranger', 'Curb', 'Pills', 'Ll/ Tenant',
       '219/601', 'Ifo', '911 Hu Call', '920 Rtl', 'Poss Att', 'Att Only',
       'Ams', '***901 Req***', 'Drugs/915', 'Rpt', 'Children', '500e/rz',
       'Vehicle', 'Ug Rtl', '601/family', 'Death', 'Att Susp', '9909',
       '2 Reps', 'Vending', 'Drp', 'Brewing/pay Dispute', 'Skateboarders',
       'Sonitrol', 'Wreckless Driver', '148', 'Bicylist', '852 Casing',
       'Nabo', 'R.o. Violation', '910 Poss', '22500e/500h', 'Pay Disp',
       '22654e', 'Brewing', '.52', 'Phys', '222 Att', 'Wireless-Open',
       'Adv To Co A', 'Wireless-H/u'], dtype=object)

In [18]:
'''Ver los valores únicos de OffenseDate'''
deleteN['OffenseDate'].unique()

array(['2016-03-30T00:00:00', '2016-03-31T00:00:00',
       '2016-04-01T00:00:00', '2016-04-02T00:00:00',
       '2016-04-03T00:00:00', '2016-04-04T00:00:00',
       '2013-04-04T00:00:00', '2025-04-04T00:00:00',
       '2016-04-05T00:00:00'], dtype=object)

In [19]:
 '''Ver los valores únicos de CallDateTime'''
deleteN['CallDateTime'].unique()

array(['2016-03-30T18:42:00', '2016-03-31T15:31:00',
       '2016-03-31T16:49:00', ..., '2016-04-05T23:43:00',
       '2016-04-05T23:48:00', '2016-04-05T23:54:00'], dtype=object)

In [20]:
 '''Ver los valores únicos de CallTime'''
deleteN['CallTime'].unique()

array(['18:42', '15:31', '16:49', ..., '6:12', '6:33', '6:55'],
      dtype=object)

In [21]:
 '''Ver los valores únicos de Address'''
deleteN['Address'].unique()

array(['100 Block Of Chilton Av', '2300 Block Of Market St',
       '500 Block Of 7th St', ..., 'Hollister Av/hawes St',
       'Rosella Ct/onondaga Av', '0 Blk Herbst Rd'], dtype=object)

In [22]:
 '''Ver los valores únicos de AgencyId'''
deleteN['AgencyId'].unique()

array(['1', 'CA'], dtype=object)

## Identificación de filas con datos duplicados

In [23]:
'''Ver los registros duplicados'''
deleteN[deleteN.duplicated(subset=['CrimeId'], keep=False)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
26,160913455,Vandalism,2016-03-31T00:00:00,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,San Francisco,CA,1,Premise Address
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,NR,900 Block Of Market St,San Francisco,CA,1,Premise Address
7045,160950496,Passing Call,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,HAN,University St/felton St,San Francisco,CA,1,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,Premise Address
7047,160950496,Trespasser,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,Premise Address

In [25]:
'''Eliminar registros duplicados'''
deleteN.drop_duplicates(subset=['CrimeId'], inplace = True)
'''Ver los registros duplicados'''
deleteN[deleteN.duplicated(subset=['CrimeId'], keep=False)]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

## Identificación y cambio de tipo de dato

In [ ]:
'''Ver el tipo de dato de cada columna del dataframe'''
deleteN.dtypes