# CARGA Y ANÁLISIS DEL DATASET--------------------------

In [1]:
'''En este apartado se importan las librerías pandas, numpy y datetime
para el análisis y manejo de los datos.'''
import pandas as pd
import numpy as np
import datetime as dt
'''Importación de las librerías matplotlib y seaborn para graficar.'''
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
'''Cargar el dataset "data_act_01.csv"'''
df = pd.read_csv("data_act_01.csv", sep =';')
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

In [3]:
'''Verificar las dimensiones del dataset'''
print("Dimensiones: " , df.shape)

Dimensiones:  (10051, 12)

In [4]:
'''Obtener información del dataset'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

# LIMPIEZA DE DATOS--------------------------

## Identificación de columnas con datos faltantes

In [6]:
'''Identificar valores faltantes'''
nulos = df.isna().sum()
nulos

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [7]:
'''Eliminar valores nulos'''
deleteN = df.drop(['Range'], axis=1)
'''Ver registros con datos nulos'''
deleteN[deleteN.isna().any(1)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
86,160920001,Traffic Stop,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,ADM,16th/deharo,NaN,CA,1,Geo-Override
88,160920004,Passing Call,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,HAN,Duboce Triangle,NaN,CA,1,Geo-Override
100,160920020,Passing Call,2016-04-01T00:00:00,0:05,2016-04-01T00:05:00,HAN,9th Ave/irving St,NaN,CA,1,Geo-Override
112,160920032,Passing Call,2016-04-01T00:00:00,0:13,2016-04-01T00:13:00,HAN,3rd Ave & Geary Blvd,NaN,CA,1,Geo-Override
117,160920043,Passing Call,2016-04-01T00:00:00,0:18,2016-04-01T00:18:00,Not recorded,Geary/3rd Ave,NaN,CA,1,Geo-Override
...,...,...,...,...,...,...,...,...,...,...,...
9867,160963421,Passing Call,2016-04-05T00:00:00,19:07,2016-04-05T19:07:00,Not recorded,Crocker Amazon Park,NaN,CA,1,Geo-Override
9923,160963626,Passing Call,2016-04-05T00:00:00,20:11,2016-04-05T20:11:00,Not recorded,Haight Street Corridor,NaN,CA,1,Geo-Override
10029,160964141,Passing Call,2016-04-05T00:00:00,23:09,2016-04-05T23:09:00,HAN,101 Broad,NaN,CA,1,Geo-Override
10032,160964151,Passing Call,2016-04-05T00:00:00,23:14,2016-04-05T23:14:00,HAN,Division/harrison,NaN,CA,1,Geo-Override
10033,160964157,Passing Call,2016-04-05T00:00:00,23:16,2016-04-05T23:16:00,HAN,Campton Alley,NaN,CA,1,Geo-Override

## Identificación de columnas con pocos valores

In [8]:
'''En la columna City, reemplazar los valores nulos por Brisbane'''
values = {'City': 'Brisbane'}
deleteN.fillna(value=values, inplace=True)
'''Ver registros con datos nulos'''
deleteN[deleteN.isna().any(1)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
5771,160942112,Auto Boost / Strip,2016-04-03T00:00:00,14:30,2016-04-03T14:30:00,REP,Martin Luther King Dr/bowling Green Dr,Brisbane,NaN,CA,1
8021,160952280,Auto Boost / Strip,2016-04-04T00:00:00,14:46,2016-04-04T14:46:00,REP,Martin Luther King Dr/nancy Pelosi Dr,S,NaN,CA,1
8473,160953118,Auto Boost / Strip,2016-04-04T00:00:00,18:11,2016-04-04T18:11:00,REP,Conservatory Drive E/john F Kennedy Dr,Brisbane,NaN,CA,1

In [9]:
'''En la columna State, reemplazar los valores nulos por Ninguno'''
values = {'State': 'Ninguno'}
deleteN.fillna(value=values, inplace=True)
'''Ver registros con datos nulos'''
deleteN[deleteN.isna().any(1)]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

## Identificación de columnas de un solo valor

In [ ]:
'''Ver los valores únicos de City'''
deleteN['City'].unique()

In [ ]:
'''Cambios en la sintaxis de la ciudad de San Francisco'''
deleteN['City']= deleteN['City'].replace('SAN FRANCISCO', 'San Francisco')
deleteN['City']= deleteN['City'].replace(' S', 'San Francisco')
'''Ver los valores únicos de City'''
deleteN['City'].unique()

In [ ]:
'''Ver los valores únicos de Disposition'''
deleteN['Disposition'].unique()

In [ ]:
'''Cambios en la sintaxis de la disposición'''
deleteN['Disposition']=deleteN['Disposition'].replace('22', 'RGA')
deleteN['Disposition']=deleteN['Disposition'].replace('Not recorded', 'NR')
'''Ver los valores únicos de Disposition'''
deleteN['Disposition'].unique()

In [ ]:
'''Ver los valores únicos de AddressType'''
deleteN['AddressType'].unique()

In [ ]:
'''Cambios en la sintaxis del tipo de dirección'''
deleteN['AddressType']=deleteN['AddressType'].replace('Intersectioon', 'Intersection')
'''Ver los valores únicos de AddressType'''
deleteN['AddressType'].unique()

In [ ]:
'''Ver los valores únicos de State'''
deleteN['State'].unique()

In [ ]:
'''Ver los valores únicos de OriginalCrimeTypeName'''
deleteN['OriginalCrimeTypeName'].unique()

In [ ]:
'''Ver los valores únicos de OffenseDate'''
deleteN['OffenseDate'].unique()

In [ ]:
 '''Ver los valores únicos de CallDateTime'''
deleteN['CallDateTime'].unique()

In [ ]:
 '''Ver los valores únicos de CallTime'''
deleteN['CallTime'].unique()

In [ ]:
 '''Ver los valores únicos de Address'''
deleteN['Address'].unique()